[Unit]
Description=Gallery server - send images
After=network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/ubuntu/pi-gallery
ExecStart=/usr/bin/python3 /home/ubuntu/pi-gallery/server.py

[Install]
WantedBy=multi-user.target
