[Unit]
Description=Gallery client - display images
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/Desktop/pi-gallery/gallery.py

[Install]
WantedBy=multi-user.target